 

/**
 * ADMIN
 */
#pending-update {
	float:right;
	color: #ffffff;
	font-weight: bold;
	background-color: #FF0000;
	padding: 0em 0.3em;
	
}
#adminpage dl {
	clear: left;
	margin-bottom: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}
#adminpage dt {
	width: 200px;
	float: left;
	font-weight: bold;
}
#adminpage dd {
	margin-left: 200px;
}

#adminpage .field label {
	font-weight: bold;
}
#adminpage .submit {
	clear:left;
	text-align: right;
}

#adminpage #pluginslist {
	margin: 0px; padding: 0px;
}
#adminpage .plugin {
	list-style: none;
	display: block;
	border: 1px solid #888888;
	padding: 1em;
	margin-bottom: 5px;
	clear: left;
}
#adminpage .plugin .desc { margin-left: 2.5em;}
#adminpage .toggleplugin {
	float:left;
	margin-right: 1em;
}

#adminpage table {width:100%; border-bottom: 1px solid #000000; margin: 5px 0px;}
#adminpage table th { text-align: left;}
#adminpage td .icon { float: left;}
#adminpage table#users img { width: 16px; height: 16px; }
#adminpage table tr:hover { background-color: #bbc7d7; }
#adminpage .selectall { text-align: right; }

.checkbox_bulkedit {
   width: 1.2em;
   height: 1.2em;
}

.channels_ckbx, .pending_ckbx, .users_ckbx {
	margin-top: 0px !important;
	margin-left: 0px !important;
}

pre code {
	background: #F5F5F5;
	font-family: Courier, monospace;
	font-size: 1em;
	padding: 1em 1.5em;
	display: block;
	white-space: pre-wrap;
}

code {
	background: #F5F5F5;
	font-family: Courier, monospace;
	font-size: 1em;
	display: inline;
	padding: 0.2em 0.2em;
	white-space: pre-wrap;
}
